body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: white;
  color: #1f1f1f;
}

header {
  background-color: #0c4a83;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}

.navbar {
  background-color: #17407e;
  color: white;
  padding: 15px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  position: relative;
  padding: 0 10px;
}

nav a:hover {
  text-decoration: underline;
  font-weight: bold;
}

nav a:not(:last-child)::after {
  content: "";
  position: absolute;
  right: 0;
  top: 25%;
  height: 50%;
  width: 1px;
  background-color: white;
}

.logo {
  color: #5AA0F1;
  font-size: 24px;
  font-weight: bold;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

.logo span {
  color: #fda4af;
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;
}

nav a {
  color: white;
  margin: 0 10px;
  text-decoration: none;
}
nav a.active {
  border-bottom: 2px solid white;
}
.settings {
  font-size: 20px;
  cursor: pointer;
}

.menu a {
  margin: 0 12px;
  text-decoration: none;
  color: white;
}
.menu .active {
  border-bottom: 2px solid white;
  font-weight: bold;
}

.pengaturan-dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.pengaturan-dropdown img {
  width: 25px;
  height: 25px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 160px;
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  z-index: 999;
  border-radius: 6px;
  overflow: hidden;
}

.dropdown-menu a {
  display: block;
  padding: 10px 16px;
  text-decoration: none;
  color: #333;
  background-color: white;
}

.dropdown-menu a:hover {
  background-color: #f3f4f6;
}

main {
  padding: 40px;
  text-align: center;
}

.judul {
  font-size: 28px;
  color: #0c4a83;
  text-decoration: underline dotted #0c4a83;
  margin-bottom: 30px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.card {
  width: 200px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.card h2 {
  font-size: 16px;
  margin: 10px 0 5px;
}
.card p {
  font-size: 14px;
  margin-bottom: 10px;
}

.pink {
  background-color: #ffe3ea;
}
.blue {
  background-color: #e0f1ff;
}

.buttons button {
  margin: 5px 4px;
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  background-color: #0c4a83;
  color: white;
  cursor: pointer;
  font-size: 12px;
}
